{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    "no-console": "off",
    "indent": ["error", 2]
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "node": true,
    "es6": true
  }
}
